html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    color: #09f;
}
a:hover {
    text-decoration: none;
}
#nav {
    background-color: rgba(255,255,255,.9);
    clear: both;
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 65535;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}
#nav > li {
    display: inline-block;
    width: 5%;
    min-width: 4em;
}
.container {
    z-index: 0;
    height: 100%;
    font-weight: 400;
    font-size: 625%;
    text-align: center;
}
.container > .odd {
    background-color: #fff;
}
.container > .even {
    background-color: #e5e7e9;
}
section {
    clear: both;
    min-height: 100%;
    position:relative;
}
#baidumap {
    margin: 5px auto 0 auto;
    display: inline-block;
    border: 10px solid #fff;
    box-shadow: 0 0px 10px rgba(0,0,0,.3);
}
.leftbox, .rightbox {
    margin: 0;
    padding: 0;
    width: 44%;
    float: left;
    min-height: 100%;
    padding: 0 3%;
}
.leftbox img, .rightbox img {
    margin: 0;
    padding: 8% 0 0 0;
    max-height: 90%;
}
.fullphoto {
    margin: 0;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
    vertical-align: bottom;
    z-index: 0;
}
#name {
    position: absolute;
    top: 10px;
    right: 0;
    line-height: 1em;
    text-align: right;
}